# Ignora le dipendenze locali, le installeremo nel container
node_modules

# Ignora il file delle variabili d'ambiente locali
.env
.env.local

# Puoi anche aggiungere altri file che non servono in produzione
# README.md
# .gitignore